//Global Variables
$main-color: #c4c4c4;
$secondary-color: #308695;
$third-color: #faf7f4;
$font-header: "Nunito", sans-serif;
$font-text: "Poppins", sans-serif;

//Templete for Media Query

@mixin mq($screen-size) {
  @media screen and (min-width: $screen-size) {
    @content;
  }
}

// Global Stylling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}
// App Component
.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#5c2774, #335cc5, #637ffd);
}
// App Component and it's Child's

.App header {
  width: 100%;
  font-family: $font-header;

  h1.app-brand {
    text-align: center;
    a {
      font-size: calc(2vw + 1em);
      color: $main-color;
    }
  }
  nav.app-nav {
    padding: 2%;
    max-width: 100%;
    ul {
      display: flex;
      li {
        flex-basis: 20%;
        margin: 1vh 3vw;
        a {
          opacity: 0.7;
          color: $main-color;
          font-size: calc(1vw + 1em);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
// Media Query for the Header

@include mq(850px) {
  .App header {
    display: grid;
    align-self: center;
    h1.app-brand {
      margin-top: 3vh;
    }
    nav.app-nav {
      grid-column: 3/4;
      ul {
        margin-top: 3vh;
      }
    }
  }
}
